.message-row {
  display: flex;
  position: relative;

  &.left {
    .timestamp {
      position: absolute;
      color: #888;
      font-size: 12px;
      top: 40px;
      left: 0;
      margin-left: 5px;
    }
  }

  &.right {
    justify-content: flex-end;

    .row {
      .avatar-wrapper {
        display: flex;
        justify-content: flex-end;
      }

      .message {
        overflow: hidden;
        background-color: rgb(231, 248, 255);
      }
    }

    .timestamp {
      position: absolute;
      color: #888;
      font-size: 12px;
      top: 40px;
      right: 0;
      margin-right: 5px;
    }
  }

  .row {
    .avatar-wrapper {
      .avatar {
        box-shadow: 20px 20px 20px 3px rgba(0, 0, 0, 0.03);
        margin-bottom: 18px;
      }
    }

    .message {
      overflow: hidden;
      font-size: 15px;
      padding: 0px;
      max-width: 300px;
      background-color: rgb(242, 242, 242);
      border-radius: 15px;
      border: 1px solid rgba(black, 0.2);
      box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.01);
      margin-bottom: 5px;
    }

    @media screen and (max-width: 4000px) {
      .message {
        max-width: 300px; /* 设置消息展示的最大宽度为300px */
      }
    }

    @media screen and (min-width: 600px) {
      .message {
        max-width: 600px; /* 设置消息展示的最大宽度为500px */
      }
    }
  }
}

:deep(.md-editor-preview-wrapper) {
  padding: 0 10px;

  .smart-blue-theme p {
    line-height: unset;
  }
}
